extends layout
block content
    h3. 
        List Of Authors
    ul
        each  author, i in authorslist
            li#author-list-item
                a(href="#") #{author.author} wrote  #{author.books[0].title}